{{> head}}

<body>
  {{> navbar}}
  <div class="add-title">Add your bot!</div>
  {{#if editing}}
  <form action="edit" method="POST" class="add-form">
  {{else}}
  <form action="/add" method="POST" class="add-form">
  {{/if}}
    <span>Bot User ID</span>
    {{#if editing}}
    <input type="text" name="clientId" required pattern="[0-9]{17,21}" value="{{id}}" readonly>
    {{else}}
    <input type="text" name="clientId" required pattern="[0-9]{17,21}">
    {{/if}}
    <span>Custom Invite URL</span>
    <input type="text" name="inviteUrl" placeholder="One will be generated with default permissions if omitted" value="{{invite}}">
    <span>Prefix</span>
    <input type="text" name="prefix" required pattern=".{1,}" value="{{prefix}}">
    <span>Short Description</span>
    <input type="text" name="shortDesc" maxlength="150" value="{{shortDesc}}">
    <span>Long Description</span>
    <textarea type="text" name="longDesc">{{longDesc}}</textarea>
    {{#if editing}}
    <button type="submit">Apply Changes</button>
    {{else}}
    <button type="submit">Add!</button>
    {{/if}}
  </form>
</body>
