{{#> exhead}}
  <script src="/search.js"></script>
{{/exhead}}

<body>
  {{> navbar}}
  <div class="search-bar">
    <div>Search for a bot...</div>
    <input type="text" maxlength="100" placeholder="Enter a search query..." onkeydown="searchBots(event)">
  </div>
  <div class="bots" id="search-result"></div>
  <div class="body-title">All Bots</div>
  <div class="bots">
    {{#each bots}}
    <div class="bot-card" onclick="window.location.href = '/bot/{{id}}'">
      {{#if hasAvatar}}
      <img src="https://cdn.discordapp.com/avatars/{{id}}/{{avatar}}.png?size=512">
      {{else}}
      <img src="https://discordapp.com/assets/{{avatar}}.png?size=512">
      {{/if}}
      <span>
        {{username}}
        <span class="description">
          {{shortDesc}}
        </span>
      </span>
    </div>
    {{/each}}
  </div>
</body>