{{> head}}

<body>
  {{> navbar}}
  <div class="bot-page">
    <div class="bot-info">
      <img class="bot-avatar" src="https://cdn.discordapp.com/avatars/{{id}}/{{avatar}}.png?size=512">
      <div class="bot-subinfo">
        <span class="bot-name">{{username}}</span>
        <span class="bot-label">Owner: <a href="/user/{{owner.id}}">{{owner.username}}#{{owner.discriminator}}</a></span>
        <span class="bot-label">Prefix: {{prefix}}</span>
        <span class="bot-label">{{shortDesc}}</span>
        <div class="bot-links">
          <a href="{{invite}}" target="_blank">
            <button>Invite</button>
          </a>
          {{#if canManageBot}}
          <a href="/bot/{{id}}/edit">
            <button>Edit</button>
          </a>
          <a href="/bot/{{id}}/delete">
            <button>Delete</button>
          </a>
          {{/if}}
          {{#if isWebAdmin}}
            {{#unless approved}}
            <a href="/bot/{{id}}/approve">
              <button>Approve</button>
            </a>
            <a href="/bot/{{id}}/reject">
              <button>Reject</button>
            </a>
            {{/unless}}
          {{/if}}
        </div>
      </div>
      <div class="long-description">
        {{{longDesc}}}
      </div>
    </div>
  </div>
</body>
