<head>
  <title>AutomaCord</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">
</head>

<body>
  <div class="navbar">
    <span class="nav-title">AutomaCord</span>
    <div class="nav-options">
      <span class="nav-option">Home</span>
      <span class="nav-option">Add Bot</span>
    </div>
  </div>
  <div class="body-title">All Bots</div>
  <div class="bots">
    {{#each bots}}
    <div class="bot-card" onclick="javascript:window.open('https://discordapp.com/oauth2/authorize?client_id={{id}}&scope=bot')">
      <img src="https://cdn.discordapp.com/avatars/{{id}}/{{avatar}}.png?size=1024">
      <span data-description="{{shortDesc}}">{{username}}</span>
    </div>
    {{/each}}
    <a href="/add">
      <div class="bot-card">
        <img src="add_icon.png">
        <span>Add your bot!</span>
      </div>
    </a>
  </div>
</body>
