{{> head}}

<body>
  {{> navbar}}
  <div class="body-title">All Bots</div>
  <div class="bots">
    {{#each bots}}
    <div class="bot-card" onclick="window.location = '/bot/{{id}}'">
      <img src="https://cdn.discordapp.com/avatars/{{id}}/{{avatar}}.png?size=1024">
      <span>
        {{username}}
        <span class="description">
          {{shortDesc}}
        </span>
      </span>
    </div>
    {{/each}}
    <a href="/add">
      <div class="bot-card">
        <img src="add_icon.png">
        <span>Add your bot!</span>
      </div>
    </a>
  </div>
</body>
