{{> head}}

<body>
  {{> navbar}}
  <div class="body-title">Your Bots</div>
  <table class="my-bots">
    <tr>
      <th>Bot Name</th>
      <th></th>
      <th>Status</th>
    </tr>
    {{#each rejected}}
    <tr>
      <td>
        <img src="{{avatar}}" style="border-radius: 100%;">
        <a href="/bot/{{id}}">
          {{username}}
        </a>
      </td>
      <td>
        {{reason}}
      </td>
      <td>
        Rejected
      </td>
      <td>
        <a href="/bot/{{id}}/resubmit">
          <button>
            <img src="/add_large.png">
          </button>
        </a>
        <a href="/bot/{{id}}/delete">
          <button>
            <img src="/delete.png">
          </button>
        </a>
      </td>
    </tr>
    {{/each}}
    {{#each bots}}
    <tr>
      <td>
        <img src="{{avatar}}" style="border-radius: 100%;">
        <a href="/bot/{{id}}">
          {{username}}
        </a>
      </td>
      <td>
        {{shortDesc}}
      </td>
      <td>
        {{status}}
      </td>
      <td>
        <a href="/bot/{{id}}/edit">
          <button>
            <img src="/edit.png">
          </button>
        </a>
        <a href="/bot/{{id}}/delete">
          <button>
            <img src="/delete.png">
          </button>
        </a>
      </td>
    </tr>
    {{/each}}
  </table>
</body>